
header {
	min-height:40px;
	height:6%;
	background-color:#714cc3;
	text-align:center;
	display:flex;
	justify-content:center;
	align-items:center;
	border:solid 5px #000;
	border-radius:10px;
}

body {
	background-image:url('C:/Users/ToichkinKY/Desktop/Разное/космос.jpg');
}

h1 {
	color:#fff;
}

.section_one {
	background-color:#eff0f2;
	width:90%;
	height:85%;
	min-height:700px;
	min-width:867px;
	margin: 35px 5% 0 5%;
	border:solid 5px #000;
	border-radius:10px;
}

.ssilka {
	padding-top: 0.5%;
	margin-top:1.0%;
	margin-left:2.6%;
	/*padding-left:1.5%;*/
	/*padding-right:1.2%;*/
	width:12vw;
	height:12vw;
	/*min-width:200px;*/
	max-width:500px;
	max-height:500px;
	background-size:contain;
	background-repeat:no-repeat;
	background-position:center;
    /*background-image:url('images/strong.png');*/
	/*background-size:cover;*/
    /*transition:background-image 0.3s ease-in-out;*/
	text-align:center;
	float:left;
	/*border:solid 1px #000;*/
}

.kartinka {
	width:100%;
	height:90%;
	max-width:500px;
	max-height:500px;
	opacity:0;
	/*background-repeat:no-repeat;*/
}

.text {
	font-family:Arial;
	font-size: 20px;
	
}

.pervaya {
	background-size:contain;
	background-repeat:no-repeat;
	background-position:center;
    background-image:url('images/drweb.png');
}
.pervaya:hover {
	background-image:url('images/drweb2.png');
}


.vtoraya {
	background-size:contain;
	background-repeat:no-repeat;
	background-position:center;
    background-image:url('images/7zip1.png');
}
.vtoraya:hover {
	background-image:url('images/7zip2.png');
}

.tretya {
	background-size:contain;
	background-repeat:no-repeat;
	background-position:center;
	background-image:url('images/spacesniffer1.png');
}
.tretya:hover {
	background-image:url('images/spacesniffer2.png');
}

.chetvertaya {
	background-size:contain;
	background-repeat:no-repeat;
	background-position:center;
	background-image:url('images/migapp3.png');
}
.chetvertaya:hover {
	background-image:url('images/migapp4.png');
}

.pyataya {
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center;
	background-image:url('images/virustotal1.png');
}
.pyataya:hover {
	background-image:url('images/virustotal2.png');
}

.shestaya {	
	background-size:contain;
	background-repeat:no-repeat;
	background-position:center;
	background-image:url('images/eis1.png');
}
.shestaya:hover {
	background-image:url('images/eis2.png');
}

.sedmaya {
	background-size:contain;
	background-repeat:no-repeat;
	background-position:center;
	background-image:url('images/everything1.png');
}
.sedmaya:hover {
	background-image:url('images/everything2.png');
}

.vosmaya {
	background-size:contain;
	background-repeat:no-repeat;
	background-position:center;
	background-image:url('images/K-Lite-Codec-Pack1.png');
}
.vosmaya:hover {
	background-image:url('images/K-Lite-Codec-Pack2.png');
}

.devyataya {
	background-size:contain;
	background-repeat:no-repeat;
	background-position:center;
	background-image:url('images/qBittorrent.png');
}
.devyataya:hover {
	background-image:url('images/qBittorrent2.png');
}

.desyataya {
	background-size:contain;
	background-repeat:no-repeat;
	background-position:center;
	background-image:url('images/sergeystrelec1.png');
}
.desyataya:hover {
	background-size:contain;
	background-repeat:no-repeat;
	background-position:center;
	background-image:url('images/sergeystrelec2.png');
}

.odinatsataya {
	background-size:contain;
	background-repeat:no-repeat;
	background-position:center;
	background-image:url('images/sdi1.png');
}
.odinatsataya:hover {
	background-size:contain;
	background-repeat:no-repeat;
	background-position:center;
	background-image:url('images/sdi2.png');
}

.dvenatsataya {
	background-size:contain;
	background-repeat:no-repeat;
	background-position:center;
	background-image:url('images/aida641.png');
}
.dvenatsataya:hover {
	background-size:contain;
	background-repeat:no-repeat;
	background-position:center;
	background-image:url('images/aida642.png');
}

.trenatsataya {
	background-size:contain;
	background-repeat:no-repeat;
	background-position:center;
	background-image:url('images/naps21.png');
}
.trenatsataya:hover {
	background-size:contain;
	background-repeat:no-repeat;
	background-position:center;
	background-image:url('images/naps22.png');
}
	
.chetyrnatsataya {
	background-size:contain;
	background-repeat:no-repeat;
	background-position:center;
	background-image:url('images/FurMark1.png');
}
.chetyrnatsataya:hover {
	background-size:contain;
	background-repeat:no-repeat;
	background-position:center;
	background-image:url('images/FurMark2.png');
}

.pyatnadsataya {
	background-size:contain;
	background-repeat:no-repeat;
	background-position:center;
	background-image:url('images/occt1.png');
}
.pyatnadsataya:hover {
	background-size:contain;
	background-repeat:no-repeat;
	background-position:center;
	background-image:url('images/occt2.png');
}	

.shestnadsataya {
	background-size:contain;
	background-repeat:no-repeat;
	background-position:center;
	background-image:url('images/rufus1.png');
}	
.shestnadsataya:hover {
	background-size:contain;
	background-repeat:no-repeat;
	background-position:center;
	background-image:url('images/rufus2.png');
}	

.semnadsataya {
	background-size:contain;
	background-repeat:no-repeat;
	background-position:center;
	background-image:url('images/speedtest1.png');
}	
.semnadsataya:hover {
	background-size:contain;
	background-repeat:no-repeat;
	background-position:center;
	background-image:url('images/speedtest2.png');
}	

.vosemnadsataya {
	border-radius:10px;
	border:solid 5px #000;
	background-color:gray;
	background-size:contain;
	background-repeat:no-repeat;
	background-position:center;
	background-image:url('images/plus1.png');
}
.vosemnadsataya:hover {
	background-size:contain;
	background-repeat:no-repeat;
	background-position:center;
	background-image:url('images/plus2.png');
}
